:root{
    --domination-font-color: #757575;
    --titles-font-color: #212121;
    --domination-bcg-color: #E5E5E5;
    --team-bcg-color: #F5F4FA;
    --footer-bcg-color: #2F303A;
    --hover-color: #2196F3;
    --button-portfolio-color: #F5F4FA;
    --social-icon-color: #AFB1B8;
    --follow-bcg-color: rgba(255, 255, 255, 0.1);
}

body{
    font-family: 'Roboto', sans-serif;
    color:var(--domination-font-color);
    font-weight: 400;
    letter-spacing: 0.03em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* logo */

.page-header{
    border-bottom: 1px solid #ECECEC;
}
.logo{
    display: inline-block;
    color: var(--hover-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
}

.logo__text--heder{
    color: #000000;
}



/* навигация */
.page-header__nav{
    display: flex;
    align-items: center;
    justify-self: start;
}
.page-header__list{
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.page-header__item:not(:first-child){
    margin-left: 50px;
}

.page-header__link{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--titles-font-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__list .current{
    position: relative;
    color: var(--hover-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.current::after{
    content: '';
    display: flex;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    border: 2px solid;
}
.page-header__link:hover,
.page-header__link:focus{
    color: var(--hover-color);
}
.contacts-list{
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}
.contacts-list__item:not(:first-child){
    margin-left: 50px;
}
.contacts-list__link{
    display: flex;

    color:var(--domination-font-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;
    align-content: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover,
.contacts-list__link:focus{
    color: var(--hover-color);    
}
.contacts-list__icon{
    margin-right: 10px;

    fill: var(--domination-font-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon{
    fill: var(--hover-color);
}


    /* герой  */
.hero{
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    color: #ffffff;
    text-align: center;


    background-image:  linear-gradient(to right, #2F303A66, #2F303A66), url('../images/herophoto.jpg ');
    background-size: cover;
    background-position: center;

}
.hero__title{
    
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    
}
.hero__button{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    

    background-color: var(--hover-color);
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    border-color: var(--hover-color) ;
    border-radius: 4px;
    border: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover,
.hero__button:focus{
    background-color: #188CE8;
}

/*     section     */
.section{
    padding-top: 94px;
}

/*      Особенности       */
.del{
    display: none;
}
.peculiarities{
    padding-top: 94px;
}
.peculiarities__list{
    display: flex;
    flex-direction: row;
}
.peculiarities__item{
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

}   
.peculiarities__item:nth-child(4n){
    margin-right: 0px;
}
.peculiarities__wrapper{
    display: flex;
    background-color: var(--button-portfolio-color);
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 3px;
}
.peculiarities__item-title{

    color: var(--titles-font-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.peculiarities__item-text{
    margin-top: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}  


/*     чем мы занимаемся   */
.doing{
    padding-bottom: 94px;
}
.doing__title{
    color: var(--titles-font-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.doing-list{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-bottom: 0px;
}
.doing-list__item{
    position: relative;
    width: calc((100%-60px)/3);
    margin-right: 30px;
    
}
.doing-list__item:nth-child(3){
    margin-right: 0px;
}
.doing-list__wrapper{
    position: absolute;
    bottom: 0;

    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/*      наша команда      */


.our-team{
    background-color: var(--team-bcg-color);
    padding-bottom: 94px;
}
.our-team__title{
    color: var(--titles-font-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team-cards{
    display: flex;
    text-align: center;
    align-content: center;
    margin-top: 50px;
}
.team-cards__item{
    width: calc((100%-90px)/4);
    margin-right: 30px;
    margin-bottom: 0px;

    background-color: #ffffff;
    
    border-bottom: 1px solid #2F303A;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-cards__item:nth-child(4){
    margin-right: 0px;
}
.team-cards__wrapper{
    padding-top: 30px;
    padding-bottom: 16px;
}
.team-cards__title{
    color: var(--titles-font-color);
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.2;
} 
.team-cards__text{
    margin-top: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.team-links{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.team-links__link{
    display: flex;
    width: 44px;
    height: 44px;
}
.team-links__item:not(:first-child){
    margin-left: 10px;
}
.team-links__icon{

    fill: var(--social-icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-links__link{
    border-radius: 50%;
}
.team-links__link:hover .team-links__icon,
.team-links__link:focus .team-links__icon{
    fill: #ffffff;
}
.team-links__link:hover,
.team-links__link:focus{
    background-color: var(--hover-color);
    fill: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/*  Clients */


.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients__title{
    color: var(--titles-font-color);
    
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}
.clients-list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.clients-list__item:not(:first-child){
    margin-left: 30px;
}
.clients-list__item{
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
}
.clients-list__link{
    display: flex;
    border: 1px solid var(--social-icon-color);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    justify-content: center;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__icon{
    fill: var(--social-icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover,
.clients-list__link:focus{
    border-color: var(--hover-color);
}
.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon{
   
    fill: var(--hover-color);
}


   /* footer */

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bcg-color);
}
.footer__wrapper{
    display: flex;
    align-items: center;
}
.logo{
    font-style: normal;
}
.logo__text--footer{
    color:#ffffff;
}
.address-list{
    margin-top: 20px;
    font-style: normal;
    font-weight:400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--domination-font-color);
}
.address-list__item{
    margin-top: 9px;
}
.address-list__link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover,
.address-list__link:focus{
    color: var(--hover-color);
    
}
.address-text{
    color: #ffffff;
}

.follow__wrapper{
    margin-left: 70px;
}
.footer__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.follow-list{
    display: flex;
    margin-right: auto;
    margin-top: 20px;
}
.follow-list__item:not(:first-child){
    margin-left: 10px;
}
.follow-list__link{
    display: flex;
    background-color: var(--follow-bcg-color);
    fill: #ffffff;
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.follow-list__link:hover,
.follow-list__link:focus {
    background-color: var(--hover-color);

}

    /* footer form */
    .follow-box{
        margin-left: auto;
    }
    .follow-form__input{
        width: 358px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        background-color: var(--footer-bcg-color);
        color: gray;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .follow-form__label:focus .follow-form__input,
    .follow-form__label:hover .follow-form__input{
        border: 1px solid var(--hover-color)
    }
    
    .follow-btn{
        position: relative;

        display: inline-flex;
        align-items: center;
        text-align: center;
        padding: 10px 28px;
        border-radius: 4px;
        border: 0;
        margin-left: 12px;

        color: #ffffff;
        background-color: var(--hover-color);

        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;   
        letter-spacing: 0.06em;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .follow-btn:hover,
    .follow-btn:focus{
        background-color: #188CE8;
    }
    .follow-button__icon{
        margin-left: 10px;
    }
    .footer__title--form{
        margin-bottom: 20px;
    }




/* PORTFOLIO */
    /* ???? buttons */
    .filter-list{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
    }
    .filter-list__button{
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        border: 1px solid var(--button-portfolio-color);
        border-radius: 4px;

        font-family:  inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;

        background-color: var(--team-bcg-color);

        cursor: pointer;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .filter-list__button:hover,
    .filter-list__button:focus{
        background-color: var(--hover-color);
        color: #ffffff;
    }
    .filter-list{
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .filter-list__item{
        margin-right: 8px;
        padding-right: 0px;
    }
    .filter-list__item:nth-child(5){
        margin-right: 0px;
    }
    
    /* Services */
    .services{
        padding-top: 94px;
        padding-bottom: 94px;
        
    }
   
    .product-card__name{
        color: var(--titles-font-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    
    .product-card__text {
        color: var(--domination-font-color);
        
        font-size: 16px;
        line-height: 1.8;
    }
    .product-list{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: -30px;

        flex-direction: row;
    }
    .product-card__link{
        display: block;
        text-decoration: none;
    }

    .product-card__meta{
        padding: 20px 24px;
    }
    
    .product-card{
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;

        border: 1px solid #EEEEEE;
    }
    .product-card:hover{
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
    .product-card:nth-child(3n){
        margin-right: 0px;
    }
    .thumb{
        position: relative;
        overflow: hidden;
    }
    .thumb__overflow{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;

        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);;


        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    .thumb__text{
        color: #ffffff;

        font-size: 18px;
        line-height: 1.5;
    }
    .product-card__link:hover .thumb__overflow,
    .product-card__link:focus .thumb__overflow{
        transform: translate(0);

    }

    /* modal */

    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
        transform: scale(1);
        transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    .backdrop.is-hidden{
        opacity: 0;
        pointer-events: none;
        
        visibility: hidden;
    }
    .backdrop.is-hidden .modal{
        transform: translate(-50%, -50%) scale(0);
    }
    
    .modal{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 533px;

        padding: 40px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        display: flex;
    
        background-color: #ffffff;
        opacity: 1;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-50%, -50%) scale(1);


    }

    .modal-btn{
        position: absolute;
        top: 8px;
        right: 8px;

        width: 30px;
        height: 30px;
        padding: 6px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .modal-btn__icon{
        width: 11px;
        height: 11px;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-btn:hover .modal-btn__icon,
    .modal-btn:focus .modal-btn__icon{
        fill: var(--hover-color);
    }

    /* FORMA */
     .modal-wrapper{
        width: 100%;
        text-align: center;

        padding-bottom: 0;
    }
    .modal-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    .modal-form{
        width: 100%;
        padding-bottom: 0;

        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em; 
    }
    .modal-form__field{
        position: relative;

        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .modal-form__label{
        display: flex;
        margin-bottom: 4px;
    }
    .modal-form__input{
    
        width: 100%;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 40px;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form__field:focus .modal-form__input,
    .modal-form__field:hover .modal-form__input{
        border: 1px solid var(--hover-color);
    }


    .modal-form__input--comment{

        height: 120px;
        padding: 12px 16px;
        resize: none;
        
    }
    .form-svg{
        position: absolute;
        top: 50%;
        left: 12px;
        width: 18px;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form__field .modal-form__input:focus ~ .form-svg,
    .modal-form__field .modal-form__input:hover ~ .form-svg{
        fill: var(--hover-color);
    }
    .modal-form__checkbox{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;

    }
    .checkbox__input:focus ~ .checkbox__text,
    .checkbox__input:hover ~ .checkbox__text{
        border: 2px solid var(--hover-color);
        border-color: var(--hover-color);
    }
    .checkbox__input{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;

    }
    .checkbox__text{
        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 15px;
        height: 15px;
        border: 2px solid black;
        border-radius: 2px;
        margin-right: 10px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;

        transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .checkbox__link{
        margin-left: 3px;
        color: var(--hover-color);
        border-bottom: 1px solid var(--hover-color);  
    }
    .checkbox__icon{
        fill: #ffffff;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .checkbox__input:checked ~ .checkbox__text{

        border-color: var(--hover-color);
        background-color: var(--hover-color);
    }
    .modal-sub-button{
        padding: 10px 55px;
        margin-top: 30px;

        background: var(--hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;


        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        color: #ffffff;
        cursor: pointer;
        letter-spacing: 0.06em;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 
    .modal-sub-button:hover,
    .modal-sub-button:focus{
        background-color: #188CE8;
    }

    /*   conteiner */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    ul{
        margin: 0;
        padding: 0;
    }
    img{
        display: block;
    }

    .conteiner{
        
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        outline: 2px solid transparent;
    }
   

    button{
        display: inline-block;
    }

    /* link */
    .link{
        display: inline-block;
    }


    /* header conteiner */



    










    /* bcg test */
    /* <path  d="M32 16c0 0.006 0 0.013 0 0.020 0 4.412-1.791 8.405-4.686 11.293l-0 0c-2.888 2.895-6.881 4.687-11.293 4.687-0.007 0-0.014 0-0.021 0h0.001c-0.006 0-0.013 0-0.020 0-4.412 0-8.405-1.791-11.293-4.686l-0-0c-2.895-2.888-4.687-6.881-4.687-11.293 0-0.007 0-0.014 0-0.021v0.001c0-0.006 0-0.013 0-0.020 0-4.412 1.791-8.405 4.686-11.293l0-0c2.888-2.895 6.881-4.687 11.293-4.687 0.007 0 0.014 0 0.021 0h-0.001c0.006 0 0.013 0 0.020 0 4.412 0 8.405 1.791 11.293 4.686l0 0c2.895 2.888 4.687 6.881 4.687 11.293 0 0.007 0 0.014 0 0.021v-0.001z"></path> */
